<h1>All <%= @merchant.name %> Discounts</h1>
<p><%= link_to "Create a New Discount", new_merchant_bulk_discount_path(@merchant) %></p>
<% @bulk_discounts.each do |discount| %>
  <div id=<%= "discount#{discount.id}" %>>
    <h3><%= link_to "Discount ##{discount.id}", merchant_bulk_discount_path(@merchant, discount) %></h3>
    <p>Quantity threshold: <%= discount.quantity %></p>
    <p><%= discount.percentage * 100 %>% discount</p>
    <%= button_to "Delete Discount ##{discount.id}", "/merchant/#{@merchant.id}/bulk_discounts/#{discount.id}", method: :delete %>
  </div>
<% end %>
